/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/components/Bar.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.bar-container {
  display: grid;
  grid-template-rows: 1 1 1 1 1;
  grid-template-columns: 200px 180px 180px 180px 180px;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #a8449e;
  width: 60%;
  border-radius: 10px;
}

.bar-header-container {
  display: grid;
  grid-template-rows: 1 1 1 1 1;
  grid-template-columns: 200px 180px 180px 180px 180px;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #034561;
  width: 60%;
  border-radius: 10px;
}

h2 {
  display: flex;
  padding: 10px;
}

@media (max-width: 768px) {
  .bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 130%;
    background-color: #a8449e;

  }
  .bar-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 130%;
    background-color: #034561;
  }
  h2 {
    padding: 1px;
    font-size: 10px;
  }
}

